/*body{
    background-image: url(./imagenes/WallpaperDog-17042875.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
*/
img{
    height: 100px;
}
.logoa{
    position: fixed;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100px;
    z-index: 10;
    opacity: 0.90;
}
.card{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    position: absolute;
    width: 700px;
    height: 470px;
    left: 30%;
    padding: 20px;
    margin-top: 200px;
    border-radius: 20px;
}
.principal{
    padding: 10px;
}
.contenido{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 800px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.articulos{
    display: flex;
    margin: 0 auto;
   }
.articulosizq{
    display: flex;
    margin: 15px auto;
}
.izquierda{
    color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: black;
    width: 550px;
    border-radius: 20px;
    padding: 10px;
    border: 1px solid black;
}
.derecha{
    color: white;
    background-color: black;
    width: 550px;
    border-radius: 20px;
    padding: 10px;
    border: 1px solid black;
}
canvas{
    height: 3700px;
    width: 100%;
}
h1{
    color: #0fe942; 
}
h3{
    color: #0fe942;
}
.clase5{
    display: flex;
}
button {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.9rem 2rem;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 17px;
    border-radius: 500px;
    overflow: hidden;
    background: #0fe942;
    color: ghostwhite;
    border: 1px solid white;
   }
   
   button span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
   }
   
   button:hover span {
    color: black;
   }
   
   button::before,
   button::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
   }
   
   button::before {
    content: "";
    background: #000;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
   }
   
   button:hover::before {
    transform: translate3d(100%, 0, 0);
   }
   .invisible {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 5px;
}

   footer{
    position: absolute;
    padding: 0.8em 0;
    background-color: #131313;
    text-align: center;
    color: rgba(255,255,255,0.7);
    font-size: 12px;
    top: 3700px;
    width: 100%;
   }
   video{
    width: 95%;
    height: 350px;
    border-radius: 10px;
   }
   @media (min-width:580px) and (max-width:1000px) {
    .card {
        position: absolute;
        width: 85%;
        height: 615px;
        left: 0;
        right: 0;
        top: 0;
        margin: auto;
        padding: 20px;
        margin-top: 150px;
        border-radius: 20px;
    }
    .izquierda {
        width: 70%;
        margin: auto;
    }
    .derecha {
        width: 70%;
        margin: auto;
    }
    iframe{
        width: 70% !important;
    }
    .contenido {
        display: flex;
        flex-wrap: wrap;
        position: absolute;
    }
    .articulos {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .articulosizq{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }
    canvas {
        height: 4500px;
        width: 100%;
    }
    footer{
        top: 4500px;
    }
    .invisible{
        width: 100%;
    }
    .contenido{
        top: 930px;
    }
    iframe{
        width: 100%;
        padding: 10px;
    }
    .boton{
        z-index: 5;
    }
   }
   @media (min-width:400px) and (max-width:580px){
    .card {
        position: absolute;
        width: 85%;
        height: 675px;
        left: 0;
        right: 0;
        top: 0;
        margin: auto;
        padding: 20px;
        margin-top: 150px;
        border-radius: 20px;
    }
    .invisible{
        width: 95%;
        margin: 10px;
    }
    .izquierda {
        width: 90%;
        margin: auto;
    }
    .derecha {
        width: 90%;
        margin: auto;
    }
    canvas {
        height: 4750px;
        width: 100%;
    }
    footer{
        top: 4750px;
    }
    .contenido {
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        width: 90%;
        top: 900px;
    }
    .articulos {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .articulosizq{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }
   }
   @media (min-width:385px) and (max-width:400px){
    .invisible{
        width: 95%;
        margin: 10px;
    }
    .izquierda {
        width: 90%;
        margin: auto;
    }
    .derecha {
        width: 90%;
        margin: auto;
    }
    .card {
        position: absolute;
        width: 85%;
        height: 675px;
        left: 0;
        right: 0;
        top: 0;
        margin: auto;
        padding: 20px;
        margin-top: 150px;
        border-radius: 20px;
    }
    canvas {
        height: 4750px;
        width: 100%;
    }
    footer{
        top: 4750px;
    }
    .contenido {
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        width: 90%;
        top: 915px;
    }
    .articulos {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .articulosizq{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }
   }
   @media (max-width:385px) {
    .invisible{
        width: 95%;
        margin: 10px;
    }
    .izquierda {
        width: 90%;
        margin: auto;
    }
    .derecha {
        width: 90%;
        margin: auto;
    }
    .card {
        position: absolute;
        width: 85%;
        height: 705px;
        left: 0;
        right: 0;
        top: 0;
        margin: auto;
        padding: 20px;
        margin-top: 150px;
        border-radius: 20px;
    }
    .contenido {
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        width: 90%;
        top: 930px;
    }
    canvas {
        height: 4900px;
    }
    footer{
        top: 4900px;
    }
    .articulos {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .articulosizq{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }
    iframe{
        width: 100%;
        padding: 10px;
    }
    .boton{
        z-index: 5;
    }
   }
   @media (min-width:1000px) and (max-width:1570px) {
    canvas {
        width: 100%;
        height: 3700px;
    }
    footer{
        top:3700px;
    }
    .card{
        position: absolute;
        width: 700px;
        height: 470px;
        margin: auto;
        left: 0;
        right: 0;
        top: 150px;
    }
    .articulos{
        display: flex;
        margin: 0 auto;
       }
    .articulosizq{
        margin:15px auto;
    }
    .invisible{
    width: 500px;
    }
    .derecha{
    width: 450px;
    }
    .izquierda{
    width: 450px;
    }
    .contenido{
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        top: 750px;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
  }
